
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MealAcquaintance</title>
</head>

<body>
    <div id="login-page">
        <h1>This is the login page!</h1>
        <section id="login-form">
            <form method="POST" action="/login">
                <input name="email" placeholder="email" />
                <input name="password" placeholder="password" />
                <button type="submit">Submit</button>
            </form>
        </section>
    </div>
</body>

</html>